<div *ngIf="svc.hellotext === 'autocomplete-localArray'" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10%">
    <pre>
    1. AddControl an Array to a FormGroup
    </pre>
    <form [formGroup]="form">
        <mat-card style="background-color:cornflowerblue;">
            <mat-card-content>
                                      
                <div formGroupName="owner" >
                    <div formArrayName="vehicles" class="player">
                        <div *ngFor="let player of form.get('owner').get('vehicles').controls; let playerIndex = index" [formGroupName]="playerIndex" class="player-line">
                            <label> First: <input formControlName="model" type="text"></label>
                            <hr/>
                        </div>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button (click)="saveForm()">save</button>
            </mat-card-actions>
        </mat-card>
    </form>
        
<pre>{{form.getRawValue() | json}}</pre>

</div>
