<div *ngIf="svc.hellotext === 'loginscreen-start/traverse'" fxLayout="column" fxLayoutAlign="center"  fxLayoutGap="10%">
    <div fxFlex="0 1 30vh"  fxLayoutGap="10%" fxLayoutAlign="center">
        <mat-icon fxFlexAlign="center" (click) = "fatherforward()"> fast_rewind </mat-icon>
            <mat-card style= "max-width: 20%;" >
                <mat-card-header>
                <mat-card-title>Dad</mat-card-title>
                <mat-card-subtitle>Manoj</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="/assets/man.png" alt="Photo of Manoj">
                <mat-card-content>
                <p>
                    Father
                </p>
                </mat-card-content>
            </mat-card>
            
        <mat-card style= "max-width: 20%;" >
                <mat-card-header>
                <mat-card-title>Mom</mat-card-title>
                <mat-card-subtitle>Annie</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="/assets/women.png" alt="Photo of Annie">
                <mat-card-content>
                <p>
                    Mother
                </p>
                </mat-card-content>
        </mat-card>
        <mat-icon fxFlexAlign="center" (click) = "motherforward()"> fast_forward </mat-icon>
    </div>
    
    <div fxFlex="0 1 30vh"  fxLayoutGap="10%" fxLayoutAlign="center">
        <mat-card style= "max-width: 30%;" >
        <mat-card-header>
            <div mat-card-avatar style= "    background-image: url('/assets/girl.png'); background-size: contain;"></div>
            <mat-card-title>Daughter</mat-card-title>
            <mat-card-subtitle>Annie</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/girl.png" alt="Photo of Angelin">
        <mat-card-content>
            <p>
                Kid
            </p>
        </mat-card-content>
        </mat-card>

        <mat-card style= "max-width: 30%;" >
            <mat-card-header>
                <div mat-card-avatar style= "background-image: url('/assets/boy.png'); background-size: contain;"></div>
                <mat-card-title>Brother</mat-card-title>
                <mat-card-subtitle>Ashwin</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/boy.png" alt="Photo of Ashwin">
            <mat-card-content>
                <p>
                    kid
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card style= "max-width: 30%;" >
            <mat-card-header>
                <div mat-card-avatar style= "background-image: url('/assets/boy.png'); background-size: contain;"></div>
                <mat-card-title>Brother</mat-card-title>
                <mat-card-subtitle>Ashwin</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/boy.png" alt="Photo of Ashwin">
            <mat-card-content>
                <p>
                    Add Kid
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card style= "max-width: 30%;" >
            <mat-card-header>
                <div mat-card-avatar style= "background-image: url('/assets/boy.png'); background-size: contain;"></div>
                <mat-card-title>Brother</mat-card-title>
                <mat-card-subtitle>Ashwin</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/boy.png" alt="Photo of Ashwin">
            <mat-card-content>
                <p>
                    Add Kid
                </p>
            </mat-card-content>
        </mat-card>
        
    </div>
</div>