<div *ngIf="svc.hellotext === 'loginscreen-start/update'" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10%">

        <button mat-raised-button color="warn"
            matBadge="1" matBadgePosition="before" matBadgeColor="primary">
          Invites
        </button>

        <button mat-raised-button color="primary"
            matBadge="1" matBadgePosition="before" matBadgeColor="warn">
        B'day
        </button>

        <button mat-raised-button color="primary"
            matBadge="1" matBadgePosition="before" matBadgeColor="warn">
        Anniversary
        </button>

</div>