<div 
  gdAreas="header header | side content | footer footer"
  gdGap="10px"
  gdRows="auto auto auto">

  <div gdArea="header">
    <mat-toolbar color="primary">
      <span>Select the Feature for sanity Testing</span>

      <span fxFlex="auto"> </span>
 
    </mat-toolbar>
  </div>
  <div gdArea="side" >
    <form fxLayout="column" fxLayoutAlign="center center">
        <h4>Lazyload NgModule</h4>
      <mat-form-field>
        <mat-label>NgModule 2 Test</mat-label>
        <mat-select [formControl]="pokemonControl" >
          <mat-option (click)="clickedNone()">-- None --</mat-option>
          <mat-optgroup *ngFor="let group of pokemonGroups" [label]="group.name"
                        [disabled]="group.disabled">
            <mat-option *ngFor="let pokemon of group.pokemon" [value]="pokemon.value"  (click)="ClickSelect(pokemon.value)">
              {{pokemon.viewValue}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>

      </form> 
  </div>
    

  <div gdArea="content" [ngStyle]= "{'border': '1px solid black',
  'border-radius': '8px'}">
  <div  >

      <router-outlet></router-outlet>

  </div>
  </div>
  <div gdArea="footer">
    <pre>
      {{svc.footerdisplay}}
    </pre>
  </div>
</div>
