
<div *ngIf="svc.hellotext === ''" fxLayout="column" fxLayoutAlign="center center"
fxLayoutGap="10%">
    <pre>
    1. FormGroup -> Add all the required FormGroup elements using the json object array
    </pre>
</div>

<div *ngIf="svc.hellotext === 'main-page'" fxLayout="column" fxLayoutAlign="center center"
    fxLayoutGap="10%">
    <pre>
    1. AddControl an Array to a FormGroup-up
    </pre>
</div>

<div *ngIf="svc.hellotext === 'ref-aray'" fxLayout="column" fxLayoutAlign="center center"
    fxLayoutGap="10%">
    <pre>
    1. AddControl an Array to a FormGroup-up
    </pre>
</div>


<div *ngIf="svc.hellotext === 'ref-friends'" fxLayout="column" fxLayoutAlign="center center"
    fxLayoutGap="10%">
    <pre>
        1. AddControl an Array to a FormGroup-up
        </pre>
</div>


<div *ngIf="svc.hellotext === 'claim-array'" fxLayout="column" fxLayoutAlign="center center"
    fxLayoutGap="10%">
    <pre>
            1. AddControl an Array to a FormGroup-up
            </pre>
</div>

<div *ngIf="svc.hellotext === 'fn-array'" fxLayout="column" fxLayoutAlign="center center"
    fxLayoutGap="10%">
    <pre>
                1. AddControl an Array to a FormGroup-up
                </pre>
</div>

<div *ngIf="svc.hellotext === 'link-req'" fxLayout="column" fxLayoutAlign="center center"
    fxLayoutGap="10%">
    <pre>
                    1. AddControl an Array to a FormGroup-up
                    </pre>
</div>

<div *ngIf="svc.hellotext === 'claim-settings'" fxLayout="column" fxLayoutAlign="center center"
    fxLayoutGap="10%">
    <pre>
                        1. AddControl an Array to a FormGroup-up
                        </pre>
</div>

<div *ngIf="svc.hellotext === 'search-settings'" fxLayout="column" fxLayoutAlign="center center"
    fxLayoutGap="10%">
    <pre>
                            1. AddControl an Array to a FormGroup-up
                            </pre>
</div>

<div *ngIf="svc.hellotext === 'sc-write'" fxLayout="column" fxLayoutAlign="center center"
    fxLayoutGap="10%">
    <pre>
    1. AddControl an Array to a FormGroup-up
    </pre>
</div>
<div *ngIf="svc.hellotext === 'sc-read'" fxLayout="column" fxLayoutAlign="center center"
    fxLayoutGap="10%">
    <pre>
    1. AddControl an Array to a FormGroup-up
    </pre>
</div>

<div *ngIf="svc.hellotext === 'sc-writearray'" fxLayout="column" fxLayoutAlign="center center"
    fxLayoutGap="10%">
    <pre>
    1. AddControl an Array to a FormGroup-up
    </pre>
</div>

<div *ngIf="svc.hellotext === 'sc-queryarray'" fxLayout="column" fxLayoutAlign="center center"
    fxLayoutGap="10%">
    <pre>
    1. AddControl an Array to a FormGroup-up
    </pre>
</div>

