<div *ngIf="svc.hellotext === 'team-mgt-start'" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10%">
    <form [formGroup]="teamForm" (ngSubmit)="onFormSubmit()">
        <div formArrayName="employees"> 
            <div *ngFor = "let emp of empFormArray.controls; let idx = index" [formGroupName]="idx" class="employee">
                <p> <b>Employee : {{idx + 1}}</b> </p>
                <p>Emp Id : <input formControlName="empId"></p>
                <p>Emp Name : <input formControlName="empName"></p>
	
                <p><button type="button" (click)="deleteEmployee(idx)">Delete</button></p>
            </div>
            <button type="button" (click)="addEmployee()">Add More Employee</button>
        </div>
    </form>
    <ul>
        <li *ngFor="let item of items | async">
            {{ item.empName }}
        </li>
        {{items | async | json}}
    </ul>
    {{teamFormshowvalue() | json}}
    <h3>Create New Team </h3>
    <button type="button" (click)="loadTeam()" > Load Default Team </button>
</div>

<div *ngIf="svc.hellotext === 'team-mgt-fc'" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10%">
    <form [formGroup]="teamForm" (ngSubmit)="onFormSubmit()">
        <div formArrayName="employees"> 
            <div *ngFor = "let emp of empFormArray.controls; let idx = index" [formGroupName]="idx" class="employee">
                <p> <b>Employee : {{idx + 1}}</b> </p>
                <p>Emp Id : <input formControlName="empId"></p>
                <p>Emp Name : <input formControlName="empName"></p>
                <p>Skill :
                    <select formControlName="skill">
                    <option >
                        {{ skill }}
                    </option>
                    </select>
                </p> 	
                <p><button type="button" (click)="deleteEmployee(idx)">Delete</button></p>
            </div>
            <button type="button" (click)="addEmployee()">Add More Employee</button>
        </div>
    </form>
    <ul>
        <li *ngFor="let item of items | async">
            {{ item.empName }}
        </li>
    </ul>

    <h3>Create New Team </h3>
    <button type="button" (click)="loadTeam()" > Load Default Team </button>
</div>

<div *ngIf="svc.hellotext === 'team-mgt-fg'" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10%">
    <form [formGroup]="teamArrayFg" (ngSubmit)="onFormSubmit()">
        <div formArrayName="employees"> 
            <div *ngFor = "let emp of empFormArrayFg.controls; let idx = index" [formGroupName]="idx" class="employee">
                <p> <b>Employee : {{idx + 1}}</b> </p>
                <p>Emp Id : <input formControlName="empId"></p>
                <p>Emp Name : <input formControlName="empName"></p>
    
                <p><button type="button" (click)="deleteEmployeeFg(idx)">Delete</button></p>
            </div>
            <button type="button" (click)="addEmployeeFg()">Add More Employee</button>
        </div>
    </form>
    <ul>
        <li *ngFor="let item of items | async">
            {{ item.empName }}
        </li>
        {{items | async | json}}
    </ul>
    {{teamFormshowvalueFg() | json}}
    <h3>Create New Team </h3>
    <button type="button" (click)="loadTeam()" > Load Default Team </button>
</div>

<div *ngIf="svc.hellotext === 'team-mgt-fa'" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10%">
    <form [formGroup]="teamArrayFa" (ngSubmit)="onFormSubmit()">
        <div formArrayName="lines" >
            <div *ngFor ="let line of teamArrayFa.get('lines').controls; let lineIndex = index" [formGroupName]="lineIndex">
                    <div formArrayName="players">
                            <div *ngFor="let player of line.get('players').controls; let playerIndex = index" [formGroupName]="playerIndex" >
                                <label> First: <input formControlName="first_name" type="text"></label>
                                <label> Last: <input formControlName="last_name" type="text"></label>
                            </div>
                    </div>
                <p><button type="button" (click)="deleteEmployee(idx)">Delete</button></p>
            </div>
            <button type="button" (click)="addEmployee()">Add More Employee</button>
        </div>
    </form>
    <ul>
        <li *ngFor="let item of items | async">
            {{ item.empName }}
        </li>
    </ul>

    <h3>Create New Team </h3>
    <button type="button" (click)="loadTeam()" > Load Default Team </button>
</div>

<div *ngIf="svc.hellotext === 'team-mgt-group'" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10%">
    <form [formGroup]="teamGroupForm" (ngSubmit)="onFormSubmit_group()">
            <b>Department :</b><br>
            <div formGroupName="teamDept" class="department"> 
                <p>Department Head : <input formControlName="deptHead"></p>
                <p>Department Name : <input formControlName="deptName"></p>
            </div>
            <p><button type="submit" >Save</button></p>
            <p><button type="button" (click)="LoadDept()">Load</button></p>
    </form>
</div>

<div *ngIf="svc.hellotext === 'team-mgt-control'" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10%">
        <form [formGroup]="teamControlForm" (ngSubmit)="onFormSubmit_control()">
                <b>Team Control :</b><br>

                    <p>Team Name : <input formControlName="teamName"></p>
                    <p>Manager Name : <input formControlName="teamMgr"></p>

                <p><button type="submit" >Save</button></p>
                <p><button type="button" (click)="LoadControl()">Load</button></p>
        </form>
    </div>