<div *ngIf="svc.hellotext === ''" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10%">
    <pre>
        Objective:
        1. loginscreen-start/login : Create Login Page and have two possibilities - New User and Old User
        New User -> Open a Bottom sheet to display the mat-spinner and then open the dialog to show the new user Details
        Old User -> Open a Bottom sheet to display the mat-spinner and then open the dialog to show the new user Details
        Learnings -> You can open a dialog from the bottom sheet and not another bottomsheet or snackbar

        2. loginscreen-start/'': Go to the Firebase console and create a new userprofile details 
        and load the details into the dialog box and update the same using the Formbuilder

        3. loginscreen-start/userupdate: User will receive an update if the user receives a function invite and 
        display the invite for the user.

        4.loginscreen-start/traverse: Move to different family members page

        5.loginscreen/animeinitial/1: Show login button and if login fails show the retry button 
        and for a new user load the default values and for old user load the values from DB. Also show some animations

        6. loginscreen/animelogin/1: Run the Route animations for the Login Screen
        
    </pre>
</div>
<div *ngIf="svc.hellotext === 'loginscreen-start'" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10%">
    <div>
        Show Authentication tests- Auth Pass - New User
    </div>

    <button mat-raised-button *ngIf="!showretry" color="primary" (click)="GoogleLogin()">
        Google login
    </button>
   
</div>
