<mat-card fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10%" style = "background:gold; font-family: Lato;" >
    <mat-card-header >
            <mat-spinner *ngIf="showspinner"></mat-spinner>
            <video #video autoplay playsinline (durationchange)="AfterVideoLoad()">

            </video>
            <canvas #canvas id="canvas" width="200" height="200" style="border:1px solid #d3d3d3;" ></canvas>
    </mat-card-header>

    <mat-card-actions>
    <button mat-raised-button color ="primary" (click)="takePicture()" *ngIf= "showPicButton" >Take Picture </button>
    <button mat-raised-button color ="primary" (click)="onDelete()" *ngIf= "showDeletebutton" >Delete</button>
    <button mat-raised-button color ="primary" (click)="onSave()" *ngIf= "showSave" >Save Recording </button>
    <button mat-raised-button  color="primary" (click)="goback()" cdkFocusInitial>Back</button>
    </mat-card-actions>
</mat-card> 