<mat-spinner *ngIf="showspinner"></mat-spinner>
<button mat-raised-button *ngIf="showlogin" color="primary" (click)="GoogleLogin()">
        {{buttontext}}
</button>


<form [formGroup] ="basicDetails" >
    <div *ngIf="shownewUser" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10%">
        <mat-form-field>
            <mat-label>Update Phone Number</mat-label>
            <input matInput formControlName = "PhoneNumber" style = "background-color:blueviolet;" >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Update Gender</mat-label>
            <mat-select formControlName ="Gender" placeholder="Select Gender">
                <mat-option *ngFor="let mygender of gender"  [value]="mygender.value" >
                {{mygender.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="!basicDetails.valid" (click)="NewUserContinue()">
            New User
        </button>
    </div>
</form>


<button mat-raised-button *ngIf="showoldUser" color="primary" (click)="OldUserContinue()">
    Old login
</button>

