<div *ngIf="svc.hellotext === ''" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10%">
    <pre>
        Todo: Every Angular Material Component needs to implement
            1. Mat-form-Field initial Behaviour - Initial
            2. FormControl Array data from local Array - local
            3. FormControl Array data from Firestore both to and fro - Firestore
            4. FormGroup Array Data from Other Users -CRUD both to and fro - FormGroup Array

        </pre>
</div>
<div *ngIf="svc.hellotext === 'feature-autocomplete'" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10%">
    <pre>
            1. Mat-form-Field initial Behaviour - Initial
    </pre>
    <form class="example-form">
        <mat-card style="background-color:cornflowerblue;">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <mat-label>
                        Hi Enter the state!
                    </mat-label>
                    <input matInput placeholder="State" aria-label="State" [matAutocomplete]="auto"
                        [formControl]="stateCtrl">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
                            <img class="example-option-img" aria-hidden [src]="state.flag" height="25">
                            <span>{{state.name}}</span> |
                            <small>Population: {{state.population}}</small>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <br>

                <mat-slide-toggle [checked]="stateCtrl.disabled"
                    (change)="stateCtrl.disabled ? stateCtrl.enable() : stateCtrl.disable()">
                    Disable Input?
                </mat-slide-toggle>
            </mat-card-content>
        </mat-card>
    </form>
</div>

<div *ngIf="svc.hellotext === 'autocomplete-localArray'" fxLayout="column" fxLayoutAlign="center center"
    fxLayoutGap="10%">
    <pre>
        2. FormControl Array data from local Array - local
    </pre>
    <form [formGroup]="cvForm">
        <mat-card style="background-color:cornflowerblue;">
            <mat-card-content>
                    <hr/>
                    <h1>{{dataModel.team_name}}</h1>
                    Team Name <input type="text" formControlName="team_name">
                    
                    <div formArrayName="lines" >
                      <div *ngFor="let line of cvForm.get('lines').controls; let lineIndex = index" [formGroupName]="lineIndex" class="line">
                          <label> Line Name: <input formControlName="name" type="text"></label>
                          <div formArrayName="players" class="player">
                            <div *ngFor="let player of line.get('players').controls; let playerIndex = index" [formGroupName]="playerIndex" class="player-line">
                              <label> First: <input formControlName="first_name" type="text"></label>
                              <label> Last: <input formControlName="last_name" type="text"></label>
                            </div>
                          </div>
                      </div>
                    </div>
            </mat-card-content>
            <mat-card-actions>
                <button (click)="saveForm()">save</button>
                <button (click)="loadFormAction()">load</button>
                <button (click)="seedForm()">seed</button>
                <button (click)="changeValueInSaveData()">edit model</button>
            </mat-card-actions>
        </mat-card>
    </form>
    <span>dataModel</span>
    <pre>  {{showSavedValue() | json }}
    </pre>
    <hr />
    <span>cvForm</span>
    <pre>{{showValue() | json}}</pre>


    <span>storeData</span>
    <pre>{{showstoreValue() | json}}</pre>

</div>