<!--<div *ngIf="svc.hellotext === 'autocomplete-localArray'" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10%">
        <pre>
        1. AddControl an Array to a FormGroup-up
        </pre>>
        <form [formGroup]="form">
            <mat-card style="background-color:cornflowerblue;">
                <mat-card-content>
                                          
                   
                        <div formArrayName="vehicles" class="player">
                            <div *ngFor="let player of form.get('vehicles').controls; let playerIndex = index" [formGroupName]="playerIndex" class="player-line">
                                <label> First: <input formControlName="model" type="text"></label>
                                <hr/>
                            </div>
                        </div>
                    
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button (click)="saveForm()">Vechiclenext load</button>
                    <button mat-raised-button (click)="loadData()">LoadData</button>
                    <button mat-raised-button (click)="actualsave()">Save FormData</button>
                    <button mat-raised-button (click)="QueryData()">QueryData</button>
                    <button mat-raised-button (click)="pushtoarray()">pushtoarray</button>
                    
                </mat-card-actions>
            </mat-card>
        </form>
            
    <pre>{{form.getRawValue() | json}}</pre>
    Items
    <ul>
            <li class="text" *ngFor="let item of items | async">
              {{item | json }}
            </li>
          </ul>
    </div>
-->